<div class="header-info <%= is_detail ? 'header-detail' : '' %>">
    <label class="col-md-4 control-label">
        <%= attribute_name %>
    </label>

    <div class="col-md-8">
        <p class="form-control-static">
            <%= attribute_value %>
        </p>
    </div>
</div>
