<div id="statistics" class="default">
    <ul class="list-unstyled">
        <li>
            <%= link_to 'Validation stats', validation_stats_epitech_module_path(@epitech_module), class: 'btn btn-primary' %>
        </li>
        <li>
            <%= link_to 'Projects stats', project_stats_epitech_module_path(@epitech_module), class: 'btn btn-primary' %>
        </li>
    </ul>
</div>
