<h1>Editing Epitech Module Instance Student Relationship</h1>

<%= render 'form' %>

<%= link_to 'Show', @module_instance_student_relations %> |
<%= link_to 'Back', epitech_module_instance_student_relationships_path %>
