<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_epitech_module_instance_student_relationship_path(@module_instance_student_relations) %> |
<%= link_to 'Back', epitech_module_instance_student_relationships_path %>
