<%= form_for(@module_instance_activity_relation) do |f| %>
  <% if @module_instance_activity_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@module_instance_activity_relation.errors.count, "error") %> prohibited this epitech_module_instance_activity from being saved:</h2>

      <ul>
      <% @module_instance_activity_relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
